//- +svg(24, 32) <path />
mixin svg(width, height)
  - var ratio   = (height / width);
  - var padding = (ratio > 0 && ratio !== 1) ? ratio * 100 : false;
  if (padding)
    span.ir(style=`padding-bottom:${padding}%`)
      svg(viewBox=`0 0 ${width} ${height}` preserveAspectRatio='xMidYMid meet')
        block
  else
    span.ir
      svg(viewBox=`0 0 ${width} ${height}` preserveAspectRatio='xMidYMid meet')
        block
