include helpers.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title=title
    meta(name='viewport',content='width=device-width,initial-scale=1,shrink-to-fit=no')
    //- meta(name='robots' content='noindex,nofollow')

    meta(name='theme-color', content=`${themeColor}`)
    link(href=`${rootPath}${favicon}`, rel='shortcut icon')

    meta(property='og:image', content=`${rootPath}${ogImage}`)
    meta(property='og:image:alt', content=`${title}`)

    //- <!--inline-css-->
    link(href=`${rootPath}main.css` rel='stylesheet')

    block head
  body
    noscript
      .msg-bar This page uses JavaScript for some features.<br/> Please enable JavaScript support and try again.

    #cookies.msg-bar.is-hidden This page uses cookies for authentication.<br/> Please enable cookie support and try again.

    script
      :uglify-js
        (function() {
          "use strict";
          var cookiesOn = function() {
            try {
              document.cookie = "cookietest=1";
              var ret = document.cookie.indexOf("cookietest=") !== -1;
              document.cookie = "cookietest=1; expires=Thu, 01-Jan-1970 00:00:01 GMT";
              return ret;
            } catch (e) {
              return false;
            }
          };
          if (!cookiesOn()) {
            document.getElementById("cookies").classList.remove("is-hidden");
          }
        })();

    block content

    //- <!--inline-js-->
    script(src=`${rootPath}bundle.js`)
